@{
    ViewBag.Title = "Tanty Stacy's BushMedApp Home Page";
}

<div class="jumbotron" style="color:darkgreen">
    <h1><span style="font-size: 36pt">EMBRACE. <strong>NATURAL</strong>. REMEDIES.</span></h1>
    <p class="lead">Tanty Stacy's BushMedApp is a crowdsourced compendium of Trinidadian "bush" medicines, also known as herbal or natural remedies. 
    We're rallying our community to be proud of this historically mysterious and misunderstood part of our cultural heritage, while appreciating the sometimes overlooked plants in our own backyard.</p>
    <p><a href="https://docs.google.com/forms/d/1BbUx4McVOe_llwdz6oNNKmxjzkcSn1f2Fib4_Qt-sqo/edit?usp=forms_home&amp;ths=true" class="btn btn-primary btn-lg">Sign Up For Our BETA &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            We want to make this app great, but we need your feedback to do so. 
        </p>
        <p><a class="btn btn-default" href="https://docs.google.com/forms/d/1BbUx4McVOe_llwdz6oNNKmxjzkcSn1f2Fib4_Qt-sqo/edit?usp=forms_home&amp;ths=true">Take our user survey &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
        <h2>Be part of the community that finds and validates <strong>true</strong> herbal cures! </h2>
        <p>Share what you know about the medicinal properties in the commonly overlooked plants around you?</p>
        <p>Take our survey to become part of our community and get FREE early access to our app</p>
        <p>
            <a href="https://docs.google.com/forms/d/1BbUx4McVOe_llwdz6oNNKmxjzkcSn1f2Fib4_Qt-sqo/edit?usp=forms_home&amp;ths=true" class="btn btn-default">
                Join the community&raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Selling a product that's 100% all-natural ingredients?</h2>
        <p>
            Make your brand the preferred choice of our members by advertising with us! Qualify for pre-launch discounts on advertising packages!
        </p>
        <p>
            <a href="https://docs.google.com/forms/d/1aDB9le00xEdL95sD9Rvo1scaG2JcPZH5QmGIHgkhLs4/edit?usp=forms_home&amp;ths=true" class="btn btn-default">
                Share your product with us&raquo;
            </a>
    </div>
</div>